Repository superbox-dev/netzooe_eservice_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black --check
        language: system
        types:
          - python
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types:
          - python
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types:
          - python
      - id: rumdl
        name: rumdl
        entry: uv run rumdl check
        language: system
        files: \.md$
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        files: \.ya?ml$

Add python interpreter
  .idea/misc.xml
  .idea/netzooe_eservice_api.iml
  netzooe_eservice_api/__init__.py
  netzooe_eservice_api/py.typed
  uv.lock
Due: black, ruff, mypy

Update python interpreter
  .idea/misc.xml
Due: none

Update API
  netzooe_eservice_api/api.py
  netzooe_eservice_api/constants.py
  netzooe_eservice_api/error.py
Due: black, ruff, mypy

Update .gitignore
  .gitignore
Due: none

Update README.md
  README.md
Due: rumdl

Update PyCharm settings
  .idea/.name
  .idea/NetzOOE-eService-API.iml
  .idea/modules.xml
Due: none

Add tests
  netzooe_eservice_api/__init__.py
  netzooe_eservice_api/api.py
  netzooe_eservice_api/error.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_api.py
Due: black, ruff, mypy

Add CI config
  .github/actions/setup-project/action.yml
  .github/dependabot.yml
  .github/environments.json
  .github/workflows/ci.yml
  .github/workflows/configure.yml
  .github/workflows/schedule-ci.yml
  .github/workflows/security.yml
Due: yamllint

Fix tests
  tests/test_api.py
Due: black, ruff, mypy

Update README.md
  README.md
  uv.lock
Due: rumdl

Update README.md
  README.md
  pyproject.toml
Due: rumdl

Rename endpoint and fix missing closing session
  netzooe_eservice_api/api.py
  tests/test_api.py
Due: black, ruff, mypy

Update PyCharm settings
  .idea/runConfigurations/tests.xml
Due: none

Add constants and allow multiple pods
  netzooe_eservice_api/api.py
  netzooe_eservice_api/constants.py
  tests/test_api.py
Due: black, ruff, mypy

Update `aiohttp` and `requests`
  CHANGELOG.md
  uv.lock
Due: rumdl

Update uv packages
  uv.lock
Due: none

Catch `aiohttp` exceptions on login
  CHANGELOG.md
  netzooe_eservice_api/api.py
Due: black, ruff, mypy, rumdl

- Catch JSON decode errors when the API return a "Wartungsseite" - If no session is passed than use a default session for `NetzOOEeServiceAPI()`
  CHANGELOG.md
  netzooe_eservice_api/api.py
  tests/test_api.py
Due: black, ruff, mypy, rumdl

Switch to aioresponses-ng
  pyproject.toml
  tests/test_api.py
  uv.lock
Due: black, ruff, mypy

* Update linters and add * Add argument `dimension` to `consumptions_profile()` * `consumptions_profile()` now supports an optional `energy_community_id` in `Pod`
  .coveragerc.toml
  .github/workflows/ci.yml
  .gitignore
  .idea/NetzOOE-eService-API.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/netzooe_eservice_api.iml
  .idea/pyLspTools.xml
  .idea/runConfigurations/tests.xml
  .pre-commit-config.yaml
  .rumdl.toml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  netzooe_eservice_api/__init__.py
  netzooe_eservice_api/api.py
  netzooe_eservice_api/constants.py
  netzooe_eservice_api/error.py
  prek.toml
  pyproject.toml
  pytest.toml
  reports/mypy.xml
  reports/pytest.xml
  ruff.toml
  scripts/lint.sh
  scripts/setup.sh
  tests/__snapshots__/test_api.ambr
  tests/test_api.py
  ty.toml
  uv.lock
Due: black, ruff, mypy, rumdl, yamllint

Fix CI
  .github/workflows/security.yml
Due: yamllint

Update .rumdl.toml
  .rumdl.toml
Due: none

Add fail_under
  .coveragerc.toml
Due: none

Delete reports directory
  reports/mypy.xml
  reports/pytest.xml
Due: none
